/* project setup */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    background-color: #F7F7F7;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

/* navbar style starts here */

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: inherit;
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 62px;
    height: 62px;
    flex-shrink: 0;
}

.logo h1 {
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
}

.nav-links {
    width: 387px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.home {
    color: #FEA301;
    font-weight: 700;
}

.about {
    color: #01ACFD;
}

.facilities {
    color: #05D4DF;
}

.admission {
    color: #5D58EF;
}

.contact-button button {
    border: none;
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FEA301;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.menu-hamburger {
    display: none;
}

@media screen and (max-width: 576px) {
    .navbar {
        padding: 0 16px;
        border-bottom: 0.5px solid #FEA301;
    }

    .logo h1 {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .menu-hamburger {
        display: block;
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
}

/* navbar style ends here */


/* hero section starts here */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px
}

.hero-left h1 {
    width: 640px;
    color: #000;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
}

.empowering {
    color: #FEA301;
}

.vision {
    color: #01ACFD;
}

.hero-left p {
    color: #111;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero-left button {
    border: none;
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #111;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.hero-right img {
    width: 468.607px;
    height: 575px;
}

@media screen and (max-width: 576px) {
    .hero {
        display: flex;
        width: 357px;
        padding: 20px 0px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .hero-left h1 {
        font-size: 32px;
        text-align: center;
        width: 357px;
        line-height: normal;
    }


    .hero-left p {
        color: #111;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
    }

    .hero-left button {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        padding: 6px 24px;
        width: auto;
        margin: 0 auto;
    }


    .hero-right img {
        width: 336.582px;
        height: 413px;
    }
}

/* hero section ends here */

/* curriculum section */

.curriculum {
    background-image: url(/assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
}

.curriculum h2 {
    color: #000;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
}

.curriculum-cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.curriculum-card {
    width: 367.805px;
    height: 476.784px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.two {
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.three {
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.curriculum-card img {
    width: 141.479px;
    height: 141.479px;
    flex-shrink: 0;
    margin-bottom: 32px;
    display: block;
}

.curriculum-card h3 {
    color: #202020;
    font-size: 24.523px;
    font-weight: 700;
    line-height: 30.654px;
}

.curriculum-card p {
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 15.091px;
    font-weight: 500;
    line-height: 28.296px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.read-more button {
    color: #64C8FF;
    text-align: center;
    font-size: 15.091px;
    font-weight: 700;
    line-height: 28.296px;
    border: none;
    background-color: transparent;
}

.btn-2 button {
    color: #F0AA00;
}

.btn-3 button {
    color: #8700FF;
}

.slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 576px) {

    .curriculum {
        gap: 20px;
    }

    .curriculum-cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 357px;
        gap: 12px;
    }

    .curriculum h2 {
        color: #000;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
    }

    .curriculum-card {
        padding: 36px 28px;
        height: 321px;
        width: 357px;
    }

    .curriculum-card img {
        margin-top: 22px;
        width: 92.595px;
        height: 92.595px;
    }

    .curriculum-card h3 {
        color: #202020;
        font-size: 16.603px;
        font-weight: 700;
        line-height: 20.754px;
    }

    .curriculum-card p {
        color: #808080;
        font-family: Raleway;
        font-size: 10.217px;
        font-weight: 500;
        line-height: 19.158px;
        margin-top: 22px;
        margin-bottom: 22px;
    }

    .read-more button {
        width: 53.929px;
        height: 12.772px;
        font-size: 10.217px;
        font-weight: 700;
        line-height: 19.158px;
    }

    .slider-btn {
        display: none;
    }
}

/* curriculum section ends here */